{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Actualizar Usuario</h2>

<form method="post">
    <div class="field">
        <label for="first_name">Nombre:</label>
        <div class="control">
            <input type="text" id="first_name" name="first_name" 
            required class="input" value="{{ user.first_name }}">
        </div>
    </div>
    <div class="field">
        <label for="last_name">Apellido:</label>
        <div class="control">
            <input type="text" id="last_name" name="last_name" 
            required class="input" value="{{ user.last_name }}">
        </div>
    </div>
    <div class="field">
        <label for="email">E-mail:</label>
        <div class="control">
            <input type="text" id="email" name="email" 
            required class="input" value="{{ user.email }}">
        </div>
    </div>
    <div class="field">
        <label for="password">Contraseña:</label>
        <div class="control">
            <input type="text" id="password" name="password" 
            required class="input" value="{{ user.password }}">
        </div>
    </div>
    <div class="field">
        <label for="date">Fecha de Nacimiento:</label>
        <div class="control">
            <input type="text" id="date" name="date" 
            required class="input" value="{{ user.date }}">
        </div>
    </div>
    <input type="submit" value="Actualizar" class="button is-primary">

{% endblock %}